@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

body {
  @apply bg-bg_light text-base text-black;
  font-family: 'Ubuntu', sans-serif;
}

.disabled {
  pointer-events: none;
  cursor: default;
  text-decoration: none;
  opacity: 0.2 !important;
}

.open-menu {
  // opacity: 1;
  transform: scale(1, 1);
  // visibility: visible;
  // height: auto;
  transform: translateX(0);
  transition: all 0.3s ease-in-out;
}

.close-menu {
  // opacity: 1;
  transform: scale(0.3, 0.3);
  // visibility: hidden;
  // height: 0;
  transform: translateX(200%);
  transition: all 0.3s ease-in;
}
